<div class="maxwidth-sl top-nav mx-auto">
    <div class="wrapper d-flx al-i-c j-c-sb">
        <div class="d-flx al-i-c">
            <div class="logo prefix"><a href="/"><img src="{{ site.url }}/uploads/logo.jpg" alt=""></a></div>
            <a class="site-title" href="/">{{ site.title }}</a>
            <div class="menu-icon suffix" onclick="openNav()" style="font-size: 24px">&#9776;</div>
        </div>
        <div>
            <a href="http://user.cpc.softcom.ng/signin" target="_blank"><button class="btn p-1 btn-white">Sign In</button></a>
            <a href="http://user.cpc.softcom.ng/complain" target="_blank"><button class="btn p-1 btn-red">File Complaint</button></a>
        </div>
    </div>
</div>